
<!-- SECCION FILTROS -->
<section class="pt-1">
    <div class="container-filtros">
        <div class="filtros-titulo">
            <h6 class="mb-0">Filtrar por:</h6>
            <a class="filter-toggle text-medium" type="button" data-bs-toggle="collapse"
                data-bs-target="#filterContent">X Cerrar</a>
        </div>
        <div class="filter-content collapse show" id="filterContent">
            <div class="row fila-filtros">
                <!-- FILTRO CATEGORIAS -->
                <div class="col-md-3 ps-5">
                    <div class="d-flex">
                        <h5 class="pb-4"><strong> Categorias</strong></h5>
                    </div>
                    <ul class="ps-0 m-0" id="categorias-list" data-categorias="<%= JSON.stringify(categorias) %>">
                        <% for (let i=0; i < 10; i++) { %>
                            <li>
                                <input class="form-check-input check-filtros" type="checkbox" name="categorias" value="<%= categorias[i] %>" id="<%= categorias[i] %>">
                                <%= categorias[i] %>
                            </li>
                        <% } %>
                    </ul>
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-primary" id="mostrar-mas-categorias-btn">Ver +</button>
                        <button class="btn btn-primary"id="mostrar-menos-categorias-btn">Ver -</button>
                    </div>
                </div>
                <!-- FILTRO EDITORIALES -->
                <div class="col-md-3 ps-5">
                    <div class="d-flex">
                        <h5 class="pb-4"><strong> Editorial</strong></h5>
                    </div>
                    <ul class="ps-0 m-0" id="editoriales-list" data-editoriales="<%= JSON.stringify(editoriales) %>">
                        <% for (let i=0; i < 10; i++) { %>
                            <li>
                                <input class="form-check-input check-filtros" type="checkbox" name="editoriales" value="<%= editoriales[i] %>" id="<%= editoriales[i] %>">
                                <%= editoriales[i] %>
                            </li>
                        <% } %>
                    </ul>
                    <div class="d-flex ps-3 mt-2">
                        <button class="btn btn-primary me-2" id="mostrar-mas-editoriales-btn">+</button>
                        <button class="btn btn-primary"id="mostrar-menos-editoriales-btn">-</button>
                    </div>
                </div>
                <!-- FILTRO AUTORES -->
                <div class="col-md-3 ps-5">
                    <div class="d-flex">
                        <h5 class="pb-4"><strong> Autores</strong></h5>
                        <button id="mostrar-mas-autores-btn">+</button>
                        <button id="mostrar-menos-autores-btn">-</button>
                    </div>
                    <ul class="ps-0 m-0" id="autores-list" data-autores="<%= JSON.stringify(autores) %>">
                        <% for (let i=0; i < 10; i++) { %>
                            <li>
                                <input class="form-check-input check-filtros" type="checkbox" name="autores" value="<%= autores[i] %>" id="<%= autores[i] %>">
                                <%= autores[i] %>
                            </li>
                        <% } %>
                    </ul>
                </div>
                <div class="col-md-3 ps-5">
                    <h5 class="pb-4"><strong>Precio</strong></h5>
                    <div class="form-check">
                        <input class="form-check-input check-filtros" type="checkbox" value="Menor a 50"
                            id="precioMenor50">
                        <label class="form-check-label" for="precioMenor50">Menor a $50</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input check-filtros" type="checkbox" value="50 a 100"
                            id="precio50a100">
                        <label class="form-check-label" for="precio50a100">$50 a $100</label>
                    </div>
                    <!-- Agrega más rangos de precio aquí -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- SECCION LISTADO LIBROS - Lazyload -->
<section>
    <%- include('../partials/card.ejs',{start:0, end:12}) %>
</section>